body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2rem;
}

.app {
  color: #353C4E;
  background: #2E3047;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}